name: 'Build static libpq'

on:
  workflow_dispatch:
  push:
    branches:
      - github-actions

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [x64, Win32]
        configuration: [Release, Debug]

    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1
      - run: mkdir output
      - run: |
          New-Item src/tools/msvc/config.pl -Value @"
          # Copyright (c) 2021-2022, PostgreSQL Global Development Group

          # Configuration arguments for vcbuild.
          use strict;
          use warnings;

          our $config = {
            asserts => 0,    # --enable-cassert

            # blocksize => 8,         # --with-blocksize, 8kB by default
            # wal_blocksize => 8,     # --with-wal-blocksize, 8kB by default
            ldap      => 0,        # --with-ldap
            extraver  => undef,    # --with-extra-version=<string>
            gss       => undef,    # --with-gssapi=<path>
            icu       => undef,    # --with-icu=<path>
            lz4       => undef,    # --with-lz4=<path>
            zstd      => undef,    # --with-zstd=<path>
            nls       => undef,    # --enable-nls=<path>
            tap_tests => undef,    # --enable-tap-tests
            tcl       => undef,    # --with-tcl=<path>
            perl      => undef,    # --with-perl=<path>
            python    => undef,    # --with-python=<path>
            openssl   => undef,    # --with-ssl=openssl with <path>
            uuid      => undef,    # --with-uuid=<path>
            xml       => undef,    # --with-libxml=<path>
            xslt      => undef,    # --with-libxslt=<path>
            iconv     => undef,    # (not in configure, path to iconv)
            zlib      => undef     # --with-zlib=<path>
          };

          1;
          "@

      - run: gc src/tools/msvc/config.pl
      
      - name: Configure & Build
        run: |
          perl src/tools/msvc/build.pl ${{ matrix.configuration }} libpq
          $env:BUILD_PLATFORM = "${{ matrix.platform }}"
          $env:MSBFLAGS = "/p:Platform=${{ matrix.platform }}"

      - name: Copy output
        run: |
          Get-ChildItem -Path ${{matrix.configuration}}/* -Include *.lib,*.pdb -Recurse | Copy-Item -Destination output

      - uses: actions/upload-artifact@v4
        with:
          name: libpq-${{matrix.platform}}-${{matrix.configuration}}
          retention-days: 1
          path: |
            output/*.lib
            output/*.pdb
