name: 'Build static libpq'

on:
  workflow_dispatch:
  push:
    branches:
      - github-actions

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1
      
      - name: Configure
        run: |
          cd src/tools/msvc
          perl build.pl Release libpq
      
      - name: Tree
        run: tree /f /a
