name: 'Build static libpq'

on:
  workflow_dispatch:
  push:
    branches:
      - github-actions

jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [x64, Win32]
        configuration: [Release, Debug]

    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1
      - run: mkdir output
      
      - name: Configure & Build
        run: |
          perl src/tools/msvc/build.pl ${{ matrix.configuration }} libpq
          $env:BUILD_PLATFORM = "${{ matrix.platform }}"
          $env:MSBFLAGS = "/p:Platform=${{ matrix.platform }}"
          Copy-Item -Path ${{matrix.configuration}}/libpq/libpq.*,${{matrix.configuration}}/libpgcommon/libpgcommon.*,${{matrix.configuration}}/libpgport/libpgport.* -Destination output

      - uses: actions/upload-artifact@v4
        with:
          name: libpq-${{matrix.platform}}-${{matrix.configuration}}
          path: 
            output/*.lib
            output/*.pdb
